You are a requirements analyst tasked with extracting detailed Business Requirements from the provided app description.

Below is the description of the app:
App Name: {{name}}
App Description: {{description}}

{% include 'brd.jinja2' %}

Output Structure should be a valid JSON: Here is the sample Structure:

{
  "brd": [{
      "id": "BRD1", "title": [Title] ,"requirement": "[Provide the Requirement in a single paragraph. Combine all subsections within the same paragraph]"
    }, {
      "id": "BRD2", "title": [Title] ,"requirement": "[Provide the Requirement in a single paragraph. Combine all subsections within the same paragraph]"
    },
    ...
  ]
}

Please ensure the requirements are clear and comprehensive. Output only valid JSON. Do not include ```json ``` on the start and end of the response.
Generate Business Requirements targeting the preferred range {{ generation_count_range[0] }} to {{ generation_count_range[1] }}. If generating requirements outside this range would provide significant business value (either more or fewer requirements), Sort all requirements based on business impact (High to Medium to Low).