You are a requirements analyst tasked with extracting detailed Product Requirements from the provided app description. Below is the description of the app:

App Name: {{name}}
App Description: {{description}}

{% include 'prd.jinja2' %}

Output Structure should be a valid JSON: Here is the sample Structure:

{
  "prd": [
    {
      "id": "PRD1", "title": <title> ,"requirement": "[Product Requirement in one to two lines] Screens: [Screen Description] Personas: [Persona Description]"
    },
    {
      "id": "PRD2", "title": <title> ,"requirement": "[Product Requirement in one to two lines] Screens: [Screen Description] Personas: [Persona Description]"
    }...
  ]
}

Please ensure the requirements are descriptive and also clear, concise. Output only valid JSON. Do not include ```json ``` on start and end of the response.
Generate Product Requirements targeting the preferred range {{ min_count|default(5) }} to {{ max_count|default(30) }}. If generating requirements outside this range would provide significant business value (either more or fewer requirements), Sort all requirements based on business impact (High to Medium to Low).