<div
  class="bg-white border rounded-lg p-5 flex flex-col h-full lg:col-span-2 w-full"
  *ngIf="testCases$ | async as testCases"
>
  <div class="mb-4">
    <div class="flex items-center mt-2 justify-between">
      <div class="flex flex-col gap-2 min-w-0">
        <h1
          class="text-lg font-bold text-secondary-800 truncate max-w-full pr-8"
        >
          <ng-container
            *ngIf="navigation.selectedRequirement?.id; else allTestCases"
          >
            Test Cases for {{ navigation.selectedRequirement?.id }}:
            {{ navigation.selectedRequirement?.name }}
          </ng-container>
          <ng-template #allTestCases>All Test Cases </ng-template>
        </h1>

        <div class="flex items-center">
          <h2 class="text-md font-semibold text-secondary-600">Test Cases</h2>
          <app-badge [badgeText]="testCases.length"></app-badge>
        </div>
      </div>

      <div class="flex items-center justify-between gap-3">
        <app-button
          [buttonContent]="
            testCases.length === 0
              ? 'Generate Test Cases'
              : 'Regenerate Test Cases'
          "
          theme="secondary"
          size="sm"
          (click)="addMoreContext(testCases.length > 0)"
          rounded="lg"
          matTooltip="Add screens and context information for test case generation"
        />
        <app-export-dropdown
          [disabled]="testCases.length === 0"
          [options]="exportOptions"
        />
      </div>
    </div>

    <app-search-input
      *ngIf="testCases.length > 0"
      placeholder="Search..."
      (searchChange)="onSearch($event)"
    ></app-search-input>
  </div>

  <div class="h-full overflow-y-auto">
    <!-- User Story specific view -->
    <ng-container *ngIf="route.snapshot.paramMap.get('userStoryId') as userStoryId; else groupedTestCases">
      <ng-container *ngIf="((filteredTestCases$ | async)?.length ?? 0) > 0; else noTestCases">
        <app-list-item
          [payload]="{
            description: testCase.description,
            name: testCase.title,
            id: testCase.id,
          }"
          *ngFor="let testCase of filteredTestCases$ | async"
          [tag]="testCase.id"
          (click)="navigateToEditTestCase(testCase)"
          class="relative"
        >
          <div class="absolute top-4 right-4 flex gap-2">
            <app-button
              theme="secondary_outline"
              size="xs"
              rounded="lg"
              [isIconButton]="true"
              icon="heroDocumentDuplicate"
              (click)="copyTestCaseContent($event, testCase)"
              matTooltip="Copy"
            />
          </div>
        </app-list-item>
      </ng-container>
    </ng-container>

    <!-- Grouped test case view -->
    <ng-template #groupedTestCases>
      <ng-container *ngIf="filteredTestCases$ | async as filteredTestCases">
        <ng-container *ngIf="filteredTestCases.length > 0; else noTestCases">
          <ng-container *ngFor="let userStoryId of getUserStoryIds()">
            <div class="bg-secondary-50 p-3 my-2 rounded-lg">
              <h3 class="text-md font-semibold text-secondary-800">
                User Story: {{ userStoryId }}
              </h3>
            </div>

            <app-list-item
              [payload]="{
                description: testCase.description,
                name: testCase.title,
                id: testCase.id,
              }"
              *ngFor="let testCase of getTestCasesForUserStory(userStoryId)"
              [tag]="testCase.id"
              (click)="navigateToEditTestCase(testCase)"
              class="relative"
            >
              <div class="absolute top-4 right-4 flex gap-2">
                <app-button
                  theme="secondary_outline"
                  size="xs"
                  rounded="lg"
                  [isIconButton]="true"
                  icon="heroDocumentDuplicate"
                  (click)="copyTestCaseContent($event, testCase)"
                  matTooltip="Copy"
                />
              </div>
            </app-list-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>

    <!-- Empty State Message -->
    <ng-template #noTestCases>
      <h1 class="text-secondary-700 my-4 text-center">
        No Test Cases Found. Generate test cases by clicking the
        <strong>"Generate Test Cases"</strong> button.
      </h1>
    </ng-template>
  </div>
</div>

<app-thinking-process
  [show]="showThinkingProcess"
  [progress]="testCaseCreationProgress"
  [config]="thinkingProcessConfig"
></app-thinking-process>
