<ng-container *ngIf="(startupService.isLoggedIn$ | async) === true">
  <header class="bg-secondary-950">
    <div class="flex items-center justify-between max-w-6xl mx-auto px-4 py-3">
      <app-breadcrumbs />
      <div class="flex items-center gap-x-4">
        <div>
          <ng-container
            *ngIf="themeConfiguration.appLogo.length > 0; else showAppName"
          >
            <span class="sr-only">{{ themeConfiguration.appName }}</span>
            <img
              [src]="themeConfiguration.appLogo"
              class="mx-auto h-6"
              [alt]="themeConfiguration.appName"
            />
          </ng-container>
          <ng-template #showAppName>
            <h1 class="text-2xl text-secondary-50">
              {{ themeConfiguration.appName }}
            </h1>
          </ng-template>
        </div>
        <button
          (click)="navigateToSettings()"
          (keydown.enter)="navigateToSettings()"
          (keydown.space)="navigateToSettings(); $event.preventDefault()"
          class="flex items-center justify-center font-medium opacity-100 transition-colors duration-300 px-3 py-2 gap-2 text-xs rounded-lg border border-secondary-700 bg-transparent text-white hover:bg-secondary-900"
        >
          <ng-icon name="heroCog8Tooth" strokeWidth="2" size="16" />
          <span class="sr-only">Settings</span>
        </button>
      </div>
    </div>
  </header>
</ng-container>
