<div
  *ngIf="filteredDocumentList$ | async as items; else noDocuments"
  class="container mx-auto px-6 py-2"
>
  <div class="mb-4">
    <div class="flex items-center mt-2 justify-between">
      <div class="flex items-center">
        <h1 class="text-normal font-semibold text-secondary-700">
          {{ getDescription(selectedType) }}
        </h1>
        <app-badge [badgeText]="items.length"></app-badge>
      </div>
    </div>
    <app-search-input
      placeholder="Search..."
      (searchChange)="onSearch($event)"
    ></app-search-input>
  </div>

  <div class="doc-section-height">
    <div
      *ngIf="items.length > 0; else noSearchResults"
      class="grid grid-cols-1 gap-3 sm:gap-4 lg:gap-4 overflow-y-auto"
    >
      <div
        *ngFor="let item of items"
        class="col-span-1 flex rounded-md shadow-sm relative"
      >
        <div
          class="flex flex-1 items-center justify-between truncate rounded-lg border-[0.5px] border-secondary-300 bg-white hover:bg-secondary-50 transition-colors"
        >
          <div
            class="flex-1 truncate p-4 text-sm rounded-lg flex flex-col gap-2"
            (click)="navigateToEdit(item)"
            role="button"
            tabindex="0"
          >
            <a class="font-semibold text-secondary-500">
              {{ item.folderName.toUpperCase() }}-{{ item.fileName }}
              <span *ngIf="item.content.epicTicketId">
                &bull; {{ item.content.epicTicketId }}
              </span>
            </a>
            <div class="flex flex-col gap-1">
              <h1
                class="doc-section__item-title text-base font-medium truncate pr-[80px]"
              >
                {{ item.content.title }}
              </h1>
              <app-rich-text-editor
                *ngIf="item.formattedRequirement"
                editorClass="prose-secondary-view text-wrap overflow-y-hidden prose-xs"
                mode="view"
                [content]="item.formattedRequirement"
                [editable]="false"
              >
              </app-rich-text-editor>
            </div>
          </div>

          <div class="absolute top-4 right-4 flex space-x-2">
            <app-button
              *ngIf="item.folderName === documentTypes.PRD"
              (click)="navigateToUserStories(item)"
              buttonContent="Stories"
              theme="secondary_outline"
              size="sm"
              rounded="lg"
            >
            </app-button>

            <div
              *ngIf="item.folderName === documentTypes.BP"
              (click)="navigateToBPFlow(item)"
              role="button"
              tabindex="0"
              class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent bg-white text-secondary-400 hover:bg-secondary-100 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
            >
              <ng-icon class="text-xl" name="heroArrowsPointingOut"></ng-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDocuments>
  <p class="text-center text-secondary-500">No documents available.</p>
</ng-template>

<ng-template #noSearchResults>
  <p class="text-center text-secondary-500">No search results found.</p>
</ng-template>
