<div class="flex flex-col w-full h-full relative">
  <!-- Document title section -->
  <div class="document-title-container px-4 py-3 bg-gray-50">
    <div class="flex items-center justify-between">
      <div class="flex-1" *ngIf="!isEditingTitle">
        <h1
          class="text-xl font-medium text-gray-800 cursor-pointer hover:text-primary-600"
          (click)="isEditingTitle = true"
        >
          {{ documentTitle }}
          <ng-icon
            name="heroPencil"
            class="ml-2 text-gray-400 hover:teext-primary-500"
            size="16"
          ></ng-icon>
        </h1>
      </div>
      <div class="flex-1" *ngIf="isEditingTitle">
        <input
          type="text"
          [(ngModel)]="documentTitle"
          class="w-full px-2 py-1 text-xl rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
          (blur)="isEditingTitle = false; titleChange.emit(documentTitle)"
          (keyup.enter)="
            isEditingTitle = false; titleChange.emit(documentTitle)
          "
          autofocus
        />
      </div>
    </div>
  </div>

  <!-- Main content area -->
  <div class="flex flex-row flex-1 overflow-hidden">
    <div class="flex-1 overflow-y-auto relative">
      <app-rich-text-editor
        [content]="content"
        [editable]="editable"
        [editorClass]="'min-h-[240px]'"
        (change)="onContentChange($event)"
      ></app-rich-text-editor>
    </div>
  </div>
</div>
