<div
  *ngIf="toasts.length > 0"
  class="fixed bottom-4 right-4 z-50 text-xs transition-opacity duration-300 ease-in-out"
  [ngClass]="{'opacity-100': toasts[0].show, 'opacity-0': !toasts[0].show}"
  (click)="removeToast(toasts[0].id)"
>
  <div
    class="w-72 p-4 rounded-lg border-[0.5px]"
    [ngClass]="{
      'bg-success-50 border-success-300 text-success-600':
        toasts[0].type === 'success',
      'bg-danger-50 border-danger-300 text-danger-600': toasts[0].type === 'error',
      'bg-blue-50 border-blue-300 text-blue-600': toasts[0].type === 'info',
      'bg-warning-50 border-warning-300 text-warning-600': toasts[0].type === 'warning'
    }"
  >
    <div class="flex items-center overflow-hidden gap-2">
      <!-- Display the appropriate icon based on toast type -->
      <div class="flex items-center justify-center">
        <ng-icon
          [name]="
            toasts[0].type === 'success'
              ? 'heroCheckCircle'
              : toasts[0].type === 'error'
                ? 'heroExclamationCircle'
                : toasts[0].type === 'warning'
                ? 'heroExclamationTriangle'
                : 'heroInformationCircle'
          "
          class="text-lg"
        />
      </div>
      <div class="w-full break-words" [innerHTML]="toasts[0].message"></div>
    </div>
  </div>
</div>
