<div>
  <app-accordion
    [withConnectionStatus]="true"
    [isConnected]="isConnected()"
    [title]="accordionTitle()"
    dynamicClass="text-sm font-medium text-secondary-950 ml-3"
    [iconImage]="accordionIcon()"
    [isOpen]="isAccordionOpen"
    (toggleAccordion)="toggleAccordion.emit()"
  >
    <div
      class="mb-6"
      *ngIf="!hasPmoToolSelected() && availableIntegrations().length > 0"
    >
      <div class="flex gap-6 flex-wrap">
        <label
          *ngFor="let integration of availableIntegrations()"
          class="flex items-center cursor-pointer"
        >
          <input
            type="radio"
            [formControl]="selectedIntegrationType"
            [value]="integration.id"
            class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300"
          />
          <img
            [src]="integration.logoPath"
            [alt]="integration.displayName"
            class="ml-2 w-5 h-5"
          />
          <span class="ml-2 text-sm font-medium text-secondary-700">
            {{ integration.displayName }}
          </span>
        </label>
      </div>
    </div>

    <div>
      <!-- JIRA Integration - -->
      <app-jira-integration
        *ngIf="
          !hasPmoToolSelected()
            ? isIntegrationSelected('jira')
            : connectedPmoTool() === 'jira'
        "
        [projectId]="projectId"
        [projectMetadata]="projectMetadata"
        (connectionStatusChange)="createConnectionStatusHandler('jira')($event)"
      />

      <!-- ADO Integration -->
      <app-ado-integration
        *ngIf="
          !hasPmoToolSelected()
            ? isIntegrationSelected('ado')
            : connectedPmoTool() === 'ado'
        "
        [projectId]="projectId"
        [projectMetadata]="projectMetadata"
        (connectionStatusChange)="createConnectionStatusHandler('ado')($event)"
      />
    </div>
  </app-accordion>
</div>
